  .home-section{
    position: relative;
    height: auto
  }
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow:visible;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
  }
  .swiper-slide img {
    display: block;
    box-sizing: border-box;
    border: none;
    max-height: 350px;
    min-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all .3s ease;
    opacity: 0.5
  }

  .swiper-slide-active {
    z-index: 2
  }
  .swiper-slide-active img{
    transition: all .3 ease;
    opacity: 1;
    z-index: 2;
  }

  .displayNone {
    display: none
  }

  /* .swiper-slide img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
  } */